body {
  width: 1000px;
  border: 10px solid black;
  margin: auto;
}

#p1 {
    text-indent: 3em;
    padding: 1em;
    border: 10px solid grey;
}

#p2 {
    text-indent: 3em;
    padding: 1em;
    border: 10px solid black;
}

#p3 {
    text-indent: 3em;
    padding: 1em;
    border: 10px solid grey;
}

#p4 {
    text-indent: 3em;
    padding: 1em;
    border: 10px solid black;
}

#p5 {
    text-indent: 3em;
    padding: 1em;
    border: 10px solid grey;
}

h1 {
    font-size: 50px;
    text-align: center;
}

#movies-head{
    text-align: center;
}
#movies {
    border: 10px solid grey
}

#School {
    border: 10px solid black;
    text-indent:3em;
    padding:1em;
}

#Job-History {
    border: 10px solid grey;
    text-indent:3em;
    padding:1em;
}

#Goals {
    border: 10px solid black;
    text-indent:3em;
    padding:1em;